////////////////////////////////////
// Application's background colors
////////////////////////////////////
$primary-color: #1a2b82;
$secondary-color: #0d293e;
$ternary-color: #fff;

////////////////////////////////////
// Application's text colors
////////////////////////////////////
$primary-text-color: #333;
$layout-color: darken($ternary-color, 10%);

////////////////////////////////////
// Aplication's elements colors
////////////////////////////////////

// Border color
$border-color: #ccc;
// Inputs
$input-border-color: $border-color;
$input-placeholder-color: darken($border-color, 30%);
// Buttons
$primary-button-color: $primary-color;
$primary-button-text-color: $ternary-color;
$primary-button-color-hover: lighten($primary-color, 20);
// Toasts
$toast-color: $primary-text-color;
$toast-text-color: $ternary-color;
$toast-success-border-color: #4cae4c;
$toast-error-border-color: #d5403b;
$toast-warning-border-color: #f49d21;
// Dropdowns
$dropdown-option-hover-color: #f1f1f1;
// Links
$link-color: #337ab7;
$link-hover-color: darken($link-color, 20);
