// Import the sizes and the colors
@import './sizes';
@import './colors';

/////////////////////////////////////////////
// Standard patterns for the html elements
/////////////////////////////////////////////

@mixin main-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 80px;
    padding-top: 55px;
    width: calc(100vw - 80px);
    height: 100vh;
    color: $primary-text-color;
    background-color: $layout-color;
}

@mixin title-element {
    font-size: $title-size;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 15px;
    color: $primary-text-color;
}

@mixin container-title-element {
    font-size: $container-title-size;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 5px;
    color: $primary-text-color;
}

@mixin input-element {
    font-size: $common-size;
    line-height: 18px;
    color: $primary-text-color;
    padding: 7px 12px;
    border: 1px solid $input-border-color;
    border-radius: 3px;
    outline-color: $primary-button-color-hover;

    &::placeholder {
        color: $input-placeholder-color;
    }

    &:focus,
    &:visited {
        border-color: $primary-color;
    }
}

@mixin label-element {
    font-size: $common-size;
    font-weight: bold;
    color: $primary-text-color;
    margin-bottom: 5px;
}

@mixin link-element {
    color: $link-color;
    cursor: pointer;
    transition: color 200ms linear;
    text-decoration: none !important;

    &:hover {
        color: $link-hover-color;
    }
}

@mixin button {
    font-size: $common-size;
    font-weight: bold;
    line-height: 18px;
    padding: 7px 12px;
    border-radius: 3px;
    transition: all 150ms ease-in;
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.8;
    }
}

@mixin primary-button {
    @include button;
    color: $primary-button-text-color;
    background-color: $primary-button-color;
    border: 1px solid $primary-button-color;
    outline-color: $primary-button-color-hover;

    &:hover:not(:disabled) {
        background-color: $primary-button-color-hover;
        border-color: $primary-button-color-hover;
    }

    &:active,
    &:focus,
    &:visited {
        border-color: $primary-button-color-hover;
    }
}

@mixin confirm-button {
    @include button;
    color: $confirm-button-text-color;
    background-color: $confirm-button-color;
    border: 1px solid $confirm-button-color;
    outline-color: $confirm-button-color-hover;

    &:hover:not(:disabled) {
        background-color: $confirm-button-color-hover;
        border-color: $confirm-button-color-hover;
    }

    &:active,
    &:focus,
    &:visited {
        border-color: $confirm-button-color-hover;
    }
}
