// Import the sizes and the colors
@import './sizes';
@import './colors';

/////////////////////////////////////////////
// Standard patterns for the html elements
/////////////////////////////////////////////
@mixin title-element {
    font-size: $title-size;
    font-weight: bold;
    margin-bottom: 15px;
}

@mixin input-element {
    font-size: $common-size;
    line-height: 18px;
    color: $primary-text-color;
    padding: 7px 12px;
    border: 1px solid $input-border-color;
    border-radius: 3px;

    &::placeholder {
        color: $input-placeholder-color;
    }

    &:focus,
    &:visited {
        border-color: $primary-color;
    }
}

@mixin primary-button {
    font-size: $common-size;
    font-weight: bold;
    line-height: 18px;
    color: $primary-button-text-color;
    padding: 7px 12px;
    background-color: $primary-button-color;
    border: 1px solid $primary-button-color;
    border-radius: 3px;
    transition: all 150ms ease-in;
    cursor: pointer;

    &:hover {
        background-color: $primary-button-color-hover;
        border-color: $primary-button-color-hover;
    }
}
