// Colors and sizes of the application
@import '../../style-guide/colors';
@import '../../style-guide/sizes';
// Mixins of the application
@import '../../style-guide/mixins';

.entities {
    @include main-element;

    &__count {
        font-size: $common-size;
        font-weight: bold;
        text-transform: uppercase;
        color: $primary-text-color;
        margin-bottom: 10px;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 25px;
        row-gap: 20px;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        grid-column: span 2;
    }

    &__button {
        &:not(:first-child) {
            margin-left: 15px;
        }

        &--cancel {
            @include primary-inverse-button;
        }

        &--confirm {
            @include primary-button;
        }
    }
}

.empty {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    font-size: $common-size;
    color: $primary-text-color;
    background-color: $layout-color;
    border: 1px solid $border-color;
    border-radius: 5px;

    &__icon {
        margin: 20px 0;
    }

    &__title {
        @include container-title-element;
    }

    &__text:last-of-type {
        margin-bottom: 10px;
    }

    &__button {
        @include primary-button;
        text-transform: uppercase;
        padding: 12px 15px;
    }
}

.list {
    &__button {
        @include primary-button;
        text-transform: uppercase;
        padding: 12px 15px;
        margin-bottom: 10px;
    }

    &__container {
        list-style: none;
        border: 1px solid $border-color;
        border-radius: 5px;
        margin: 0;
        padding: 0;
        max-height: 500px;
        overflow: auto;
    }

    &__item {
        font-size: $common-size;
        font-weight: bold;
        color: $primary-text-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;

        &:not(:last-child) {
            border-bottom: 1px solid $border-color;
        }
    }

    &__icons {
        display: flex;
        align-items: center;
        column-gap: 15px;
    }

    &__icon-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 3px;
        font-size: 9px;
        text-transform: uppercase;
        cursor: pointer;
    }

    &__icon {
        height: 13px;
    }

    &__link,
    &__icon-container {
        &:hover {
            color: $link-hover-color;
        }
    }
}
